*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  overflow: hidden;
}

button {
  cursor: pointer;
}

.start-screen {
  height: 100vh;
  width: 100%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #7e9c8e;
  color: white;
}

.container {
  display: flex;
  flex-direction: column;
}

img {
  width: 100px;
  margin-bottom: 16px;
}

h1 {
  font-size: 66px;
}

h2 {
  font-size: 36px;
}

p {
  font-family: "Nunito", sans-serif;
  font-size: 20px;
  text-align: center;
}

h1,
h2 {
  font-family: "Sigmar One", cursive;
  text-align: center;
}

.arrows {
  display: flex;
  justify-content: space-between;
  margin: 60px;
}

.hidden {
  display: none;
}

.left-arrow {
  transform: rotate(-90deg);
}
.right-arrow {
  transform: rotate(90deg);
}

.game-over {
  display: none;
}

.game-over-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #7e9c8e;
  color: white;
  width: 500px;
  height: 500px;
  border-radius: 10px;
  box-shadow: 6px 6px 8px 0px #678376;
  padding: 0 50px;
}

.game-over-container p {
  margin: 30px 0;
}

.show {
  position: absolute;
  top: 20vh;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.start-over {
  position: absolute;
  bottom: 10px;
  left: 10px;
  width: 100px;
  height: 35px;
}

.musicBtn {
  position: absolute;
  bottom: 10px;
  left: 140px;
  width: 100px;
  height: 35px;
}

.play-again,
.start-game,
.start-over,
.musicBtn {
  border-radius: 6px;
  border: none;
  background-color: #3e6352;
  box-shadow: 1px 1px 4px 0px #2d473b;
  font-family: "Nunito", sans-serif;
  font-weight: 700;
  font-size: 14px;
  color: white;
}

.play-again,
.start-game {
  align-self: center;
  font-size: 22px;
  padding: 16px 26px;
}
